.container-fluid {
    padding: 0;
}
.container {
    padding: 0;
}

.firstMenu {
    background-color: #263C4A;
}
.firstMenu span {
    color: orange;
}
header {
    background-color:whitesmoke;
}
.secondMenu {
    background-color: whitesmoke;
}
.thirdMenu {
    background-color: #EFEFEF;
}
.thirdMenu li {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
.carouseltop {
    padding-top: .5rem;
}
.carouseltop .carousel-item {
    height: 300px;
}
.carouseltop .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/*CSS Fabrice---------------------------------------------------*/
#grostitre{
    font-size: 4.2em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .01rem;
    color: rgb(212, 204, 204);
    padding-top: 2rem;
}
#petittitre, .carouselitemfabrice, .sr-only-fabrice, .carousel-control-prev1{
    color: black;
    text-align: left;
    letter-spacing: 0.1rem;

}
#petittitre:hover{
    text-decoration: underline;
}
#petittitre:hover .media-body{
    opacity: 0;
}

#petitblock{
    font-size: 0.9rem;
    
}
.petitecard-text{
    text-shadow: 8px 4px 15px rgb(48, 47, 47);
    font-weight: bold;
    font-size: 1.5rem;
}
#petittitre{
    font-size: 1rem;
    text-align: left;
}
.carouselitemfabrice{
    border-left: 3px solid greenyellow;
    height: 8rem;
    width: 100%;
}
#ligne{
    border-top: .05rem dotted;

}
.buttonfabrice{
    width: 30%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .01rem;
    padding: 1rem;
    margin: 2rem;
    position: relative;
    left: 35%;
}
/*.media-fabrice{
    height: 10rem;
}*/
/*Fin CSS Fabrice-------------------------------------------------*/
footer {
    background-color: #263C4A;
    color: white;
}